@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@-webkit-keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInUpSD {
  -webkit-animation-name: fadeInUpSD;
  animation-name: fadeInUpSD; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  overflow-x: hidden;
  font-family: "Fira Sans", sans-serif; }

img {
  display: block;
  max-width: 100%; }

p {
  margin-bottom: 0; }

.bold-p {
  color: #262626;
  font-family: "Fira Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px; }

.hero-heading {
  color: #FAFAFA;
  font-family: "Playfair Display";
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.4rem;
  letter-spacing: 1.383px; }

.tertiary-title {
  color: #171717;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.96px; }

.heading-span {
  color: #19C1D1;
  font-family: 'Jost';
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 123%;
  margin: auto; }
  .heading-span span {
    position: relative;
    margin-left: 1.6rem;
    display: block; }
    .heading-span span::after {
      content: '';
      position: absolute;
      width: 2.5px;
      border-radius: 1px;
      height: 80%;
      top: 50%;
      transform: translateY(-50%);
      left: -1.6rem;
      background: #19C1D1; }

.heading-span-center {
  display: flex;
  justify-content: center; }

.user-name {
  color: #FAFAFA;
  font-family: "Playfair Display";
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  /* 127.273% */
  letter-spacing: 0.88px; }

.user-post {
  color: #FAFAFA;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 200;
  line-height: 2.8rem;
  letter-spacing: 0.64px; }

.secondary-head {
  color: #171717;
  font-family: "Playfair Display";
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.8rem;
  letter-spacing: 1.44px; }

.primary-p {
  color: #262626;
  font-family: "Fira Sans";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.8rem;
  /* 155.556% */
  letter-spacing: 0.72px; }

.section-space {
  margin: 6rem 0; }

.dots-svg {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: -3.5rem;
  margin-bottom: -3.5rem;
  z-index: -1; }

.mb-8 {
  margin-bottom: 0.8rem; }

.mb-16 {
  margin-bottom: 1.6rem; }

.mb-24 {
  margin-bottom: 2.4rem; }

.mb-32 {
  margin-bottom: 3.2rem; }

.mb-40 {
  margin-bottom: 4rem; }

.mb-64 {
  margin-bottom: 6.4rem; }

.button {
  color: #FAFAFA;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  padding: 1.4rem 2.4rem;
  transition: all 0.2s;
  text-decoration: none;
  display: inline-block; }

.cta-button {
  border: 2px solid #FAFAFA;
  background: transparent; }
  .cta-button:hover {
    background: #FAFAFA;
    color: #19C1D1;
    border-color: #19C1D1; }

.hero-button {
  background: #FAFAFA;
  color: #171717; }

.button-hover {
  position: relative;
  z-index: 1; }
  .button-hover:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    direction: ltr;
    z-index: -1;
    background: #19C1D1;
    transition: all 0.3s ease; }
  .button-hover:hover {
    color: #FAFAFA; }
    .button-hover:hover:after {
      right: auto;
      left: 0;
      width: 100%; }

.readmore-link {
  color: #262626;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.72px;
  text-decoration: none;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s; }
  .readmore-link img {
    width: 2.8rem;
    transition: all 0.3s; }
  .readmore-link:hover {
    color: #19C1D1; }
    .readmore-link:hover img {
      transform: scaleX(-1); }

header {
  background: white;
  overflow: hidden; }
  header .header-container {
    display: flex; }
    header .header-container .site-logo-box {
      background: white;
      padding: 1rem 0;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      header .header-container .site-logo-box img {
        width: 12rem; }
      header .header-container .site-logo-box::after {
        content: '';
        position: absolute;
        top: 0;
        left: 99%;
        height: 101%;
        width: 80%;
        clip-path: polygon(0 0, 35% 0, 100% 100%, 0% 100%);
        background: white;
        z-index: 2; }
    header .header-container .site-header-items {
      display: flex;
      flex-direction: column;
      flex: 1; }
      header .header-container .site-header-items .site-topbar {
        background: #F1F8FE;
        flex: 1;
        position: relative;
        padding: 0.8rem 0;
        padding-left: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        header .header-container .site-header-items .site-topbar .topbar-contact-box {
          display: flex;
          align-items: center;
          gap: 4rem; }
          header .header-container .site-header-items .site-topbar .topbar-contact-box .topbar-contact {
            display: flex;
            align-items: center;
            gap: 10px; }
            header .header-container .site-header-items .site-topbar .topbar-contact-box .topbar-contact i {
              font-size: 1.4rem;
              color: #262626; }
        header .header-container .site-header-items .site-topbar .top-bar-socials {
          display: flex;
          gap: 1.6rem; }
          header .header-container .site-header-items .site-topbar .top-bar-socials a {
            text-decoration: none;
            color: #19C1D1;
            font-size: 2rem; }
        header .header-container .site-header-items .site-topbar::after {
          content: '';
          position: absolute;
          background: #F1F8FE;
          height: 100%;
          left: 100%;
          width: 100%;
          top: 0; }
      header .header-container .site-header-items .site-nav-box {
        background: #19C1D1;
        flex: 2;
        position: relative;
        padding: 1.6rem 0;
        padding-left: 13rem;
        display: flex;
        justify-content: space-between; }
        header .header-container .site-header-items .site-nav-box nav {
          display: flex;
          align-items: center;
          gap: 4rem; }
          header .header-container .site-header-items .site-nav-box nav .nav-item {
            color: #FAFAFA;
            font-family: "Fira Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.96px;
            text-transform: uppercase;
            text-decoration: none; }
        header .header-container .site-header-items .site-nav-box::after {
          content: '';
          position: absolute;
          background: #19C1D1;
          height: 100%;
          left: 100%;
          width: 100%;
          top: 0; }

#hero .owl-item.active .hero-contents {
  animation: fadeInUpSD 1s ease; }

#hero .owl-item .hero-carousel-item {
  height: 80vh;
  position: relative; }
  #hero .owl-item .hero-carousel-item img {
    object-fit: cover;
    height: 100%; }
  #hero .owl-item .hero-carousel-item .hero-container {
    position: relative; }
    #hero .owl-item .hero-carousel-item .hero-container .hero-contents {
      position: absolute;
      bottom: 0;
      left: 0;
      margin-bottom: 10rem;
      width: 50%;
      z-index: 2; }
  #hero .owl-item .hero-carousel-item::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
    z-index: 1; }

#home-about .home-about-text {
  max-width: 60rem;
  padding: 0 2rem;
  margin-inline: auto; }

#home-about .message-container {
  position: relative; }
  #home-about .message-container .message-box {
    display: flex;
    background: #FAFAFA;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.07); }
    #home-about .message-container .message-box .messenger-details {
      width: 35%;
      position: relative; }
      #home-about .message-container .message-box .messenger-details img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      #home-about .message-container .message-box .messenger-details::after {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(0deg, rgba(2, 2, 2, 0.6) 0%, rgba(0, 0, 0, 0) 28.64%); }
      #home-about .message-container .message-box .messenger-details .messenger-detail {
        position: absolute;
        bottom: 20px;
        left: 20px;
        z-index: 2; }
    #home-about .message-container .message-box .message-content {
      flex: 1;
      padding: 2rem 4rem;
      display: flex;
      flex-direction: column; }
      #home-about .message-container .message-box .message-content .readmore-link {
        margin-top: auto; }
