@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@-webkit-keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInUpSD {
  -webkit-animation-name: fadeInUpSD;
  animation-name: fadeInUpSD; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  overflow-x: hidden;
  font-family: "Fira Sans", sans-serif; }

img {
  display: block;
  max-width: 100%; }

p {
  margin-bottom: 0; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

.bold-p {
  color: #262626;
  font-family: "Fira Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px; }

.hero-heading {
  color: #FAFAFA;
  font-family: "Playfair Display";
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.4rem;
  letter-spacing: 1.383px; }

.tertiary-title {
  color: #171717;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.96px; }

.heading-span {
  color: #19C1D1;
  font-family: 'Jost';
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 123%;
  letter-spacing: 1px;
  margin: auto; }
  .heading-span span {
    position: relative;
    padding-left: 1.2rem;
    display: block; }
    .heading-span span::after {
      content: '';
      position: absolute;
      width: 2.5px;
      border-radius: 1px;
      height: 80%;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background: #19C1D1; }
  .heading-span.text-white span::after {
    background: #FAFAFA; }

.heading-span-center {
  display: flex;
  justify-content: center; }

.user-name {
  color: #262626;
  font-family: "Playfair Display";
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  /* 127.273% */
  letter-spacing: 0.88px; }

.user-post {
  color: #262626;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 200;
  line-height: 2.8rem;
  letter-spacing: 0.64px; }

.secondary-head {
  color: #171717;
  font-family: "Playfair Display";
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.8rem;
  letter-spacing: 1.44px; }

.primary-p {
  color: #262626;
  font-family: "Fira Sans";
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.8rem;
  /* 155.556% */
  letter-spacing: 0.72px; }

.primary-title {
  color: #171717;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; }

.secondary-p {
  color: #262626;
  font-family: "Fira Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; }

.primary-heading {
  color: #130808;
  font-family: "Playfair Display";
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.2px;
  padding-left: 10rem;
  position: relative; }
  .primary-heading::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0rem;
    width: 8rem;
    height: 4px;
    background: #19C1D1; }

.section-space {
  margin: 6rem 0; }

.dots-svg {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: -3.5rem;
  margin-bottom: -3.5rem;
  z-index: -1; }

.text-white {
  color: #FAFAFA !important; }

.mb-8 {
  margin-bottom: 0.8rem; }

.mb-16 {
  margin-bottom: 1.6rem; }

.mb-24 {
  margin-bottom: 2.4rem; }

.mb-32 {
  margin-bottom: 3.2rem; }

.mb-40 {
  margin-bottom: 4rem; }

.mb-64 {
  margin-bottom: 6.4rem; }

.button {
  color: #FAFAFA;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  padding: 1.4rem 2.4rem;
  transition: all 0.2s;
  text-decoration: none;
  display: inline-block;
  outline: none;
  border: none; }

.cta-button {
  border: 2px solid #FAFAFA;
  background: transparent; }
  .cta-button:hover {
    background: #FAFAFA;
    color: #19C1D1;
    border-color: #19C1D1; }

.hero-button {
  background: #FAFAFA;
  color: #171717; }

.button-hover {
  position: relative;
  z-index: 1; }
  .button-hover:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    direction: ltr;
    z-index: -1;
    background: #19C1D1;
    transition: all 0.3s ease; }
  .button-hover:hover {
    color: #FAFAFA; }
    .button-hover:hover:after {
      right: auto;
      left: 0;
      width: 100%; }

.readmore-link {
  color: #262626;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.72px;
  text-decoration: none;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s; }
  .readmore-link .readmore-arrow {
    width: 2.8rem !important;
    transition: all 0.3s; }
  .readmore-link:hover {
    color: #19C1D1; }
    .readmore-link:hover img {
      transform: scaleX(-1); }

.secondary-button {
  border-radius: 4px;
  color: #19C1D1;
  background: white;
  padding: 1.2rem 4rem;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block; }
  .secondary-button:hover {
    color: #19C1D1; }

.submit-button {
  background: #19C1D1;
  color: #FAFAFA;
  width: 100%; }

.primary-button {
  color: #FAFAFA;
  background: #19C1D1; }
  .primary-button.button-hover {
    border: 2px solid #19C1D1; }
    .primary-button.button-hover:after {
      background: #FAFAFA; }
    .primary-button.button-hover:hover {
      color: #19C1D1; }

.button-center {
  margin-top: 2.4rem;
  display: flex;
  justify-content: center; }

.product-card {
  display: flex;
  flex-direction: column;
  text-decoration: none; }
  .product-card:hover .product-image-box img {
    transform: scale(1.1); }
  .product-card .product-image-box {
    background: #F1F1F1;
    padding: 5rem;
    margin-bottom: 1rem; }
    .product-card .product-image-box img {
      transition: all 0.2s; }
  .product-card .product-details {
    display: flex;
    flex-direction: column; }
    .product-card .product-details .readmore-link {
      font-size: 1.6rem; }

.form .form-row {
  margin-bottom: 3.2rem; }
  .form .form-row .form-input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #D4D4D4;
    padding: 0.8rem 0;
    color: #171717;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 123%;
    letter-spacing: 0.42px; }
    .form .form-row .form-input::placeholder {
      color: #999;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 300;
      line-height: 123%;
      letter-spacing: 0.42px; }

.custom-checkbox {
  padding: 0;
  list-style: none;
  margin-bottom: 0.5rem; }
  .custom-checkbox label {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #737373;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 123%;
    /* 22.14px */
    letter-spacing: 0.54px;
    cursor: pointer;
    width: fit-content; }
    .custom-checkbox label .checkbox {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 2px;
      border: 1px solid #19C1D1;
      display: flex;
      justify-content: center;
      align-items: center; }
      .custom-checkbox label .checkbox i {
        color: #FAFAFA;
        font-size: 10px; }
  .custom-checkbox input {
    display: none; }
    .custom-checkbox input:checked ~ label .checkbox {
      background: #19C1D1; }

header {
  background: white;
  overflow: hidden; }
  header .header-container {
    display: flex; }
    header .header-container .site-logo-box {
      background: white;
      padding: 1rem 0;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      header .header-container .site-logo-box img {
        width: 12rem; }
      header .header-container .site-logo-box::after {
        content: '';
        position: absolute;
        top: 0;
        left: 99%;
        height: 101%;
        width: 80%;
        clip-path: polygon(0 0, 35% 0, 100% 100%, 0% 100%);
        background: white;
        z-index: 2; }
    header .header-container .site-header-items {
      display: flex;
      flex-direction: column;
      flex: 1; }
      header .header-container .site-header-items .site-topbar {
        background: #F1F8FE;
        flex: 1;
        position: relative;
        padding: 0.8rem 0;
        padding-left: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        header .header-container .site-header-items .site-topbar .topbar-contact-box {
          display: flex;
          align-items: center;
          gap: 4rem; }
          header .header-container .site-header-items .site-topbar .topbar-contact-box .topbar-contact {
            display: flex;
            align-items: center;
            gap: 10px; }
            header .header-container .site-header-items .site-topbar .topbar-contact-box .topbar-contact i {
              font-size: 1.4rem;
              color: #262626; }
        header .header-container .site-header-items .site-topbar .top-bar-socials {
          display: flex;
          gap: 1.6rem; }
          header .header-container .site-header-items .site-topbar .top-bar-socials a {
            text-decoration: none;
            color: #19C1D1;
            font-size: 2rem; }
        header .header-container .site-header-items .site-topbar::after {
          content: '';
          position: absolute;
          background: #F1F8FE;
          height: 100%;
          left: 100%;
          width: 100%;
          top: 0; }
      header .header-container .site-header-items .site-nav-box {
        background: #19C1D1;
        flex: 2;
        position: relative;
        padding: 1.6rem 0;
        padding-left: 13rem;
        display: flex;
        justify-content: space-between; }
        header .header-container .site-header-items .site-nav-box nav {
          display: flex;
          align-items: center;
          gap: 4rem; }
          header .header-container .site-header-items .site-nav-box nav .nav-item {
            color: #FAFAFA;
            font-family: "Fira Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.96px;
            text-transform: uppercase;
            text-decoration: none; }
        header .header-container .site-header-items .site-nav-box::after {
          content: '';
          position: absolute;
          background: #19C1D1;
          height: 100%;
          left: 100%;
          width: 100%;
          top: 0; }

#hero .owl-item.active .hero-contents {
  animation: fadeInUpSD 1s ease; }

#hero .owl-item .hero-carousel-item {
  height: 80vh;
  position: relative; }
  #hero .owl-item .hero-carousel-item img {
    object-fit: cover;
    height: 100%; }
  #hero .owl-item .hero-carousel-item .hero-container {
    position: relative; }
    #hero .owl-item .hero-carousel-item .hero-container .hero-contents {
      position: absolute;
      bottom: 0;
      left: 0;
      margin-bottom: 10rem;
      width: 50%;
      z-index: 2; }
  #hero .owl-item .hero-carousel-item::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
    z-index: 1; }

#secondary-hero {
  height: 40vh;
  position: relative; }
  #secondary-hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute; }
  #secondary-hero::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%); }
  #secondary-hero .secondary-hero-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 2; }
    #secondary-hero .secondary-hero-container .secondary-hero-content {
      margin-top: 6.4rem; }
      #secondary-hero .secondary-hero-container .secondary-hero-content .heading-span span::after {
        background: #FAFAFA; }

footer {
  margin-top: 14rem; }
  footer .footer-structure {
    width: 100%;
    margin-bottom: -2px; }
  footer .footer-box {
    background: #262626;
    padding: 4rem 0; }
    footer .footer-box .footer-top-row {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 1px solid rgba(229, 229, 229, 0.2);
      padding-bottom: 4rem; }
      footer .footer-box .footer-top-row .footer-socials {
        display: flex;
        gap: 4rem; }
        footer .footer-box .footer-top-row .footer-socials .footer-social {
          color: white;
          text-decoration: none;
          font-size: 2.2rem; }
    footer .footer-box .footer-bottom-row {
      padding: 4rem 0; }
      footer .footer-box .footer-bottom-row .footer-col {
        color: #FAFAFA; }
        footer .footer-box .footer-bottom-row .footer-col .footer-head {
          font-family: "Playfair Display";
          font-size: 2.4rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          margin-bottom: 2.4rem; }
        footer .footer-box .footer-bottom-row .footer-col .footer-text {
          color: #FFF;
          font-family: "Fira Sans";
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 200;
          line-height: 140%;
          /* 22.4px */
          letter-spacing: 0.32px;
          text-decoration: none;
          width: fit-content; }
        footer .footer-box .footer-bottom-row .footer-col .footer-col-items {
          display: flex;
          flex-direction: column;
          gap: 1.6rem; }
        footer .footer-box .footer-bottom-row .footer-col .footer-contact {
          display: flex;
          gap: 2rem; }
        footer .footer-box .footer-bottom-row .footer-col .footer-about-text {
          width: 80%; }
  footer .copyright-text {
    color: #AAA;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 123%;
    /* 17.22px */ }

.brands-row .brand-carousel .owl-stage {
  display: flex; }
  .brands-row .brand-carousel .owl-stage .owl-item {
    display: flex;
    justify-content: center;
    align-items: center; }
    .brands-row .brand-carousel .owl-stage .owl-item .brand-item {
      display: flex;
      justify-content: center;
      align-items: center; }
      .brands-row .brand-carousel .owl-stage .owl-item .brand-item img {
        width: 12rem;
        height: auto;
        filter: grayscale(100%);
        cursor: pointer;
        transition: all 0.2s; }
        .brands-row .brand-carousel .owl-stage .owl-item .brand-item img:hover {
          transform: scale(1.1); }

.table-wrapper .table {
  border: 1px solid #F5F5F5; }
  .table-wrapper .table thead {
    background: #19C1D1; }
    .table-wrapper .table thead th {
      color: #FAFAFA;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      padding: 1rem; }
  .table-wrapper .table tbody tr:nth-child(even) {
    background: #F5F5F5; }
  .table-wrapper .table tbody tr td {
    padding: 1rem;
    color: #171717;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    padding: 1rem;
    vertical-align: middle; }
    .table-wrapper .table tbody tr td img {
      width: 4rem; }
    .table-wrapper .table tbody tr td .download-icon {
      width: 2rem;
      cursor: pointer; }

#home-about .home-about-text {
  max-width: 60rem;
  padding: 0 2rem;
  margin-inline: auto; }

#home-about .message-container {
  position: relative; }
  #home-about .message-container .message-box {
    display: flex;
    background: #FAFAFA;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.07); }
    #home-about .message-container .message-box .messenger-details {
      width: 35%;
      position: relative; }
      #home-about .message-container .message-box .messenger-details img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      #home-about .message-container .message-box .messenger-details::after {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(0deg, rgba(2, 2, 2, 0.6) 0%, rgba(0, 0, 0, 0) 28.64%); }
      #home-about .message-container .message-box .messenger-details .messenger-detail {
        position: absolute;
        bottom: 20px;
        left: 20px;
        z-index: 2; }
    #home-about .message-container .message-box .message-content {
      flex: 1;
      padding: 2rem 4rem;
      display: flex;
      flex-direction: column; }
      #home-about .message-container .message-box .message-content .readmore-link {
        margin-top: auto; }

#home-vision {
  background: no-repeat center/cover url("../assets/img/vision-bg.jpg");
  padding-top: 12rem;
  padding-bottom: 5rem; }
  #home-vision .about-card {
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    height: 100%; }
    #home-vision .about-card .about-card-image {
      position: relative; }
      #home-vision .about-card .about-card-image .about-icon-box {
        position: absolute;
        left: 0;
        bottom: 0;
        background: #19C1D1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2rem; }
        #home-vision .about-card .about-card-image .about-icon-box img {
          width: 4rem; }
    #home-vision .about-card .about-text {
      padding: 1.6rem;
      padding-top: 0.8rem; }

#home-testemonial {
  background: linear-gradient(180deg, rgba(35, 35, 35, 0.7) 0%, #232323 81.77%), url("../assets/img/testemonial-bg.jpg") center center/cover no-repeat;
  padding: 12rem 0; }
  #home-testemonial .testemonial-container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 2rem; }
    #home-testemonial .testemonial-container .testemonial-head-box {
      display: flex;
      justify-content: space-between;
      align-items: end; }
    #home-testemonial .testemonial-container .testemonial-item {
      background: #FAFAFA;
      display: flex; }
      #home-testemonial .testemonial-container .testemonial-item .testemonial-user-image {
        width: 35%;
        aspect-ratio: 1;
        object-fit: cover; }
      #home-testemonial .testemonial-container .testemonial-item .testemonial-content {
        padding: 2rem;
        display: flex;
        flex-direction: column; }
        #home-testemonial .testemonial-container .testemonial-item .testemonial-content .quote {
          width: 6rem; }
        #home-testemonial .testemonial-container .testemonial-item .testemonial-content .testemonial-user {
          margin-top: auto; }

#home-contact {
  height: 90vh;
  background: url("../../assets/img/hero-img2.jpg") center center/cover;
  position: relative;
  display: flex;
  align-items: flex-end; }
  #home-contact .home-contact-box {
    max-width: 55rem;
    margin-inline: auto;
    background: rgba(25, 193, 209, 0.8);
    padding: 3.2rem 4.8rem;
    text-align: center;
    border-radius: 10px 10px 0px 0px; }
    #home-contact .home-contact-box .secondary-head {
      font-weight: 600; }
    #home-contact .home-contact-box .primary-p {
      font-size: 14px;
      line-height: 150%;
      /* 21px */
      letter-spacing: 0.42px; }

#home-video {
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  #home-video .curve {
    width: 100%;
    position: absolute;
    top: -1px; }
    #home-video .curve.curve-inverted {
      top: auto;
      bottom: -1px;
      transform: rotate(180deg); }
  #home-video .video-content {
    width: 80%;
    padding: 0 2rem;
    margin: 4rem auto;
    text-align: center; }
    #home-video .video-content img {
      margin: auto;
      width: 12rem;
      margin-bottom: 3.2rem;
      cursor: pointer; }

.about-box {
  display: flex;
  gap: 2rem; }
  .about-box .about-quote {
    flex: 1; }
    .about-box .about-quote h2 {
      color: #262626;
      font-family: "Playfair Display";
      font-size: 4.8rem;
      font-style: normal;
      font-weight: 600;
      line-height: 123%;
      text-transform: uppercase; }
  .about-box .about-content {
    flex: 1; }
    .about-box .about-content .primary-title {
      margin-bottom: 2.4rem; }

#objectives {
  background: #45808C;
  margin-top: 16rem;
  padding-bottom: 4rem; }
  #objectives .objectives-row .objectives-img {
    transform: translateY(-10rem);
    height: calc(100% + 5rem); }
    #objectives .objectives-row .objectives-img img {
      height: 100%;
      object-fit: cover; }
  #objectives .objectives-row .objective-text {
    padding: 4rem; }
    #objectives .objectives-row .objective-text .hero-heading {
      font-weight: 500; }
    #objectives .objectives-row .objective-text .objectives-points {
      list-style: none;
      padding: 0; }
      #objectives .objectives-row .objective-text .objectives-points li {
        color: #FFF;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 300;
        line-height: 2.8rem;
        margin-bottom: 2rem;
        position: relative;
        padding-left: 2.4rem; }
        #objectives .objectives-row .objective-text .objectives-points li::after {
          content: '';
          position: absolute;
          width: 15px;
          height: 15px;
          background: url("../../assets/icons/bullet.png");
          background-repeat: no-repeat;
          left: 0;
          top: 0.8rem; }

.contact-info-box {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap; }
  .contact-info-box .contact-info {
    flex-basis: 45%; }
    .contact-info-box .contact-info i {
      font-size: 2rem;
      color: #19C1D1; }
    .contact-info-box .contact-info .info-title {
      color: #171717;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.8rem;
      /* 175% */
      text-transform: uppercase; }

.map iframe {
  height: 300px;
  width: 100%; }

.contact-form-box {
  background: #FFF;
  box-shadow: 0px 13px 40px 0px rgba(0, 0, 0, 0.12);
  padding: 3.2rem 8rem 8rem 8rem;
  height: 100%; }
  .contact-form-box .secondary-head {
    text-align: center;
    color: #19C1D1; }

#products .filter-box {
  width: 80%; }
  #products .filter-box .filter-row .form-row {
    margin-bottom: 1rem;
    padding-bottom: 1rem; }
    #products .filter-box .filter-row .form-row:not(:last-child) {
      border-bottom: 1px solid #F5F5F5; }
  #products .filter-box .filter-row .filter-head {
    color: #262626;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 123%;
    /* 27.06px */
    letter-spacing: 0.66px;
    text-transform: uppercase;
    padding-left: 3.2rem;
    position: relative; }
    #products .filter-box .filter-row .filter-head::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: #130808;
      width: 1.6rem;
      height: 2px;
      left: 0; }
  #products .filter-box .filter-row .filter-list {
    padding: 0; }

#products .products-container .product-card {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  flex-direction: row;
  gap: 2.4rem; }
  #products .products-container .product-card .product-image-box {
    width: 30%; }
  #products .products-container .product-card .product-details {
    flex: 1; }
  #products .products-container .product-card:not(:last-child) {
    border-bottom: 1px solid #F5F5F5; }

#product-detail .product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem; }
  #product-detail .product-image img {
    width: 50%; }

#product-detail .primary-title {
  margin-bottom: 0.8rem; }

#product-detail .product-category {
  font-size: 1.2rem;
  color: #737373;
  margin-bottom: 0.8rem;
  display: inline-block; }

#product-detail .features-box {
  margin-top: 3.2rem; }
  #product-detail .features-box .featured-points {
    padding: 0;
    list-style: none; }
    #product-detail .features-box .featured-points li {
      color: #262626;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 300;
      line-height: 2.4rem;
      position: relative;
      padding-left: 1.6rem; }
      #product-detail .features-box .featured-points li::after {
        content: '';
        position: absolute;
        top: 1rem;
        left: 0;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        border: 2px solid #19C1D1; }
