.brands-row {
    .brand-carousel {
        .owl-stage {
            display: flex;

            .owl-item {
                @include flex-center;

                .brand-item {
                    @include flex-center;

                    img {
                        width: auto;
                        height: 8rem;

                        filter: grayscale(100%);
                        cursor: pointer;
                        transition: all 0.2s;

                        &:hover {
                            filter: grayscale(0);
                        }

                    }
                }
            }
        }

    }

}