footer {
    margin-top: 14rem;

    .footer-structure {
        width: 100%;
        margin-bottom: -2px;
    }

    .footer-box {
        background: $color-light-black;
        padding: 4rem 0;

        .footer-top-row {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            border-bottom: 1px solid rgba($color-dark-white, 0.2);
            padding-bottom: 4rem;

            .footer-socials {
                display: flex;
                gap: 4rem;

                .footer-social {
                    color: white;
                    text-decoration: none;
                    font-size: 2.2rem;
                }
            }
        }

        .footer-bottom-row {
            padding: 4rem 0;

            .footer-col {
                color: $color-white;

                .footer-head {

                    font-family: "Playfair Display";
                    font-size: 2.4rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    margin-bottom: 2.4rem;
                }

                a.footer-text {
                    transition: all 0.3s;

                    &:hover {
                        color: $color-primary;
                    }
                }

                .footer-text {
                    color: #FFF;

                    font-family: "Fira Sans";
                    font-size: 1.4rem;
                    font-style: normal;
                    font-weight: 200;
                    line-height: 140%;
                    /* 22.4px */
                    letter-spacing: 0.32px;

                    text-decoration: none;
                    width: fit-content;




                }

                .footer-col-items {
                    display: flex;
                    flex-direction: column;
                    gap: 1.6rem;
                }

                .footer-contact {
                    display: flex;
                    gap: 2rem;
                }

                .footer-about-text {
                    width: 80%;
                }
            }
        }
    }

    .copyright-text {
        color: #AAA;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 123%;
        /* 17.22px */
    }
}