.button {
    color: $color-white;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    padding: 1.4rem 2.4rem;
    transition: all 0.2s;
    text-decoration: none;
    display: inline-block;
}

.cta-button {
    border: 2px solid $color-white;
    background: transparent;

    &:hover {
        background: $color-white;
        color: $color-primary;
        border-color: $color-primary ;
    }
}

.hero-button {
    background: $color-white;
    color: $color-medium-black;
}

.button-hover {
    position: relative;
    z-index: 1;

    &:after {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        top: 0;
        right: 0;
        direction: ltr;
        z-index: -1;
        background: $color-primary;
        transition: all 0.3s ease;
    }

    &:hover {
        color: $color-white;

        &:after {
            right: auto;
            left: 0;
            width: 100%;
        }
    }


}

.readmore-link {
    color: $color-light-black;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.72px;
    text-decoration: none;
    width: fit-content;

    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s;

    .readmore-arrow {
        width: 2.8rem !important;
        transition: all 0.3s;
    }

    &:hover {
        color: $color-primary;

        img {
            transform: scaleX(-1);
        }
    }
}

.secondary-button {
    border-radius: 4px;
    color: $color-primary;
    background: white;
    padding: 1.2rem 4rem;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;

    &:hover {
        color: $color-primary;
    }
}