.custom-navigation {
    display: flex;
    gap: 0.8rem;

    @include respond(phone) {
        display: none
    }

    .navigation {
        @include flex-center;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        cursor: pointer;
        background: $color-white;

        img {
            width: 1.2rem;
            filter: brightness(0) saturate(100%);
        }

        &.navigation-primary {
            background: $color-primary;


        }

        &.disabled {
            opacity: 0.5 !important;
        }
    }

    &.navigation-primary {

        .navigation {
            background: $color-primary;
            opacity: 1;

            img {
                filter: none;
            }
        }

    }

    &.hero-navigation {
        position: absolute;
        bottom: 4rem;
        right: 2rem;
        z-index: 4;

        .navigation {
            opacity: 0.6 !important;
        }
    }
}