#home-about {
    .home-about-text {
        max-width: 60rem;
        padding: 0 2rem;
        margin-inline: auto;
    }

    .message-container {
        position: relative;


        .message-box {
            display: flex;
            background: $color-white;
            box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.07);

            @include respond(tab-port) {
                flex-direction: column;
            }

            .messenger-details {
                width: 35%;
                position: relative;

                @include respond(tab-port) {
                    width: 100%;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &::after {
                    content: '';
                    position: absolute;
                    inset: 0;
                    background: linear-gradient(0deg, rgba(2, 2, 2, 0.60) 0%, rgba(0, 0, 0, 0.00) 28.64%);
                }

                .messenger-detail {
                    position: absolute;
                    bottom: 20px;
                    left: 20px;
                    z-index: 2;
                }
            }

            .message-content {
                flex: 1;
                padding: 2rem 4rem;
                display: flex;
                flex-direction: column;

                @include respond(tab-port) {
                    padding-inline: 2rem;
                }

                .readmore-link {
                    margin-top: auto;
                }
            }
        }
    }
}

#home-vision {
    background: no-repeat center/cover url('../assets/img/vision-bg.jpg');
    padding-top: 12rem;
    padding-bottom: 5rem;

    .about-card {
        background: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        height: 100%;

        .about-card-image {
            position: relative;

            .about-icon-box {
                position: absolute;
                left: 0;
                bottom: 0;
                background: $color-primary;
                @include flex-center;
                padding: 1.2rem;

                img {
                    width: 4rem;
                }
            }
        }

        .about-text {
            padding: 1.6rem;
            padding-top: 0.8rem;
        }
    }
}

#home-testemonial {
    background: linear-gradient(180deg, rgba(35, 35, 35, 0.70) 0%, #232323 81.77%), url('../assets/img/testemonial-bg.jpg') center center/cover no-repeat;

    padding: 12rem 0;

    .testemonial-container {
        max-width: 80rem;
        margin: 0 auto;
        padding: 0 2rem;

        .testemonial-head-box {
            display: flex;
            justify-content: space-between;
            align-items: end;
        }

        .testemonial-item {
            background: $color-white;
            display: flex;

            @include respond(tab-port) {
                flex-direction: column;
            }

            .testemonial-user-image {
                width: 35%;
                aspect-ratio: 1;
                object-fit: cover;

                @include respond(tab-port) {
                    width: 100%;
                }
            }

            .testemonial-content {
                padding: 2rem;
                display: flex;
                flex-direction: column;

                .quote {
                    width: 6rem;

                    @include respond(tab-port) {
                        display: none;
                    }
                }


                .testemonial-user {
                    margin-top: auto;
                }
            }
        }
    }


}

#home-contact {
    height: 90vh;
    background: url('../../assets/img/hero-img2.jpg') center center/cover;
    position: relative;
    display: flex;
    align-items: flex-end;

    @include respond(phone) {
        padding-inline: 2rem;
    }

    .home-contact-box {
        max-width: 55rem;
        margin-inline: auto;



        background: rgba($color-primary, 0.8);
        padding: 3.2rem 4.8rem;
        text-align: center;
        border-radius: 10px 10px 0px 0px;



        .secondary-head {
            font-weight: 600;

        }

        .primary-p {
            font-size: 14px;
            line-height: 150%;
            /* 21px */
            letter-spacing: 0.42px;

        }

    }
}

#home-video {
    height: 90vh;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    @include respond(tab-port) {
        height: 60vh;
    }

    .curve {
        width: 100%;
        position: absolute;
        top: -1px;

        &.curve-inverted {
            top: auto;
            bottom: -1px;
            transform: rotate(180deg);
        }
    }


    .video-content {
        width: 80%;
        padding: 0 2rem;
        margin: 4rem auto;
        text-align: center;

        @include respond(tab-port) {
            width: 90%;
        }

        img {
            margin: auto;
            width: 12rem;
            margin-bottom: 3.2rem;
            cursor: pointer;
        }
    }


}